@font-face {
    font-family: Gabriela;
    src: url(Gabriela/Gabriela-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(Raleway/Raleway-Regular.ttf);
}
body {
    background-color: #778983;
    font-family: Raleway;
}
#bodyLayout {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 1%;
}
#bodyLayoutPics {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    row-gap: 1%;
}
#bodyLayoutProc {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 1%;
}

nav {
    grid-row: 1/1;
    grid-column: auto;
    background-color: #D7e2b6;
    font-family: Gabriela;
}
#navDetails {
    padding: 1em;
}
h1 {
    padding: 0 0 0 1em;
}
nav p {
    font-family: Raleway;
    font-size: 0.7em;
    padding: 0;
    text-align: end;
    margin: 0;
}

#menu {
    position: sticky;
    bottom: 0;
    background-color: #778983;
    text-align: center;
}
button {
    border: none;
    background-color: #00000000;
}
button:hover, #button:active {background-color: #749287;}
i {
    color: #faa96c;
    padding: 0.4rem;
    font-size: 1.2rem;
}

#main {
    grid-row: 2/2;
    grid-column: auto;
    background-color: #fad7be;
    color: #002119;
    font-size: 14px;
    padding: 1% 1.7em;
}
h2 {font-family: Gabriela; font-size: 1.2em;}
#main p {padding: 1%; font-size: 1.1em;}
#uppgift {list-style: none;}

#picMain {
    grid-row: 2/2;
    grid-column: auto;
    background-color: #fad7be;
    color: #002119;
    font-size: 14px;
    margin: 2% 4%;
}
#picMain h2 {padding: 2em 0 0 2em;}
#picLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
}
#pic1 {grid-row: 1; grid-column: 1; padding: 2em 0 1em 0; width: 30%; height: 30%;}
#pic2 {grid-row: 2; grid-column: 1; padding: 1em 0; width: 30%; height: 30%;}
#pic3 {grid-row: 3; grid-column: 1; padding: 1em 0; width: 30%; height: 30%;}
#pic4 {grid-row: 4; grid-column: 1; padding: 1em 0; width: 30%; height: 30%;}
#pic5 {grid-row: 5; grid-column: 1; padding: 1em 0 2em 0; width: 30%; height: 30%;}

#mainProc {
    grid-row: 2/2;
    grid-column: auto;
    background-color: #fad7be;
    color: #002119;
    font-size: 16px;
    padding: 1% 1.7em;
}
#mainProc h2 {font-size: 1.7em; padding: 0.5em 0 0 1em;}
ol li::marker {font-weight: bold;}
#mainProc #arbetsprocess {padding: 0.5em;}

footer {
    grid-row: 3/3;
    grid-column: auto;
    background-color: #D7e2b6;
    font-size: 0.7em;
}
footer ul {
    list-style: none;
    line-height: 2em;
    text-align: center;
    padding: 1.5em 1.5em 0 1.5em;
}

/*Phones max-width:600px */
@media only screen and (max-width: 600px){
#bigMenu {display: none;}
}

/*Large screens min-width:600px */
@media only screen and (min-width: 600px) {
    body {font-size: 120%;}
    #main, #picMain {font-size: 100%;}
    #menu {display: none;}
    #bigMenu {
        position: sticky;
        background-color: #778983;
        bottom: 0;
        text-align: center;
        padding: 1%;
    }
    #hmLbl {color: #000000; padding: 0 0.9em; margin: 0; font-family: Raleway;}
    #bldLbl {color: #000000; padding: 0 0.6em; margin: 0; font-family: Raleway;}
    #prcLbl {color: #000000; padding: 0 0.2em; margin: 0; font-family: Raleway;}
    i {
        color: #faa96c;
        font-size: 1rem;
    }
    button {
        border-radius: 10%;
        border: solid #000000 1px;
        margin: 0 1%;
    }

    #picLayout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        place-items: center;
        padding: 1%;
    }
    #pic1 {grid-row: 1; grid-column: 1;}
    #pic2 {grid-row: 1; grid-column: 2;}
    #pic3 {grid-row: 2; grid-column: 1;}
    #pic4 {grid-row: 2; grid-column: 2;}
    #pic5 {grid-row: 3; grid-column: 1/span 2;}
}
